*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}

.one{
    margin: 300px auto 100px auto;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.btn-outline-light{
    margin-left: 40rem;
}

.landing-pic{
    background:
            url(/images/pexels-ekaterina-bolovtsova-6077326.jpg);
            background-size: cover;
        background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    margin: 0;
    box-shadow: rgba(0, 0, 0, 0.758) 0px 25px 20px -20px;
}

.header-text{
    width: 80%;
    margin: 5rem auto 8rem auto;
    border-left: 7px solid rgb(98, 98, 223) ;
    border-right: 7px solid rgb(98, 98, 223);
}

.header-text h6{
    margin: 50px auto 0 auto;
    font-size: 2em;
    text-align: center;
    width: 90%;
    font-weight: 900;
    padding-bottom: .5rem;
}

.header-text p{
    background-color: rgb(228, 228, 228);
    width: 90%;
    font-size: 1.2em;
    text-align: center;
    margin: 1rem auto;
    font-weight: 600;
    padding: 1rem;
}


span{
    font-weight: bold;
    color: rgb(98, 98, 223); ;
}


a:link {
    text-decoration: none;
    color: black;
}

.gallery, .upcoming-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

#outergallery, #upcoming-outergallery{
    width: 95%;
    margin: 5rem auto;
    padding: 1rem;
    border-radius: 20px;
    background-color: rgb(98, 98, 223);
}

.live-bid-heading{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 3rem
}

#content, #upcoming-content {
    width: 20%;
    margin: 15px;
    float: left;
    text-align: center;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.728) 0px 7px 19px 0px;
    background: #f2f2f2;
}

#content:hover, #upcoming-content:hover {
    box-shadow: rgb(0, 0, 0) 0px 7px 19px 0px;
    transform: translate(0px, -8px);
}

img {
    width: 90%;
    height: 8%;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    color: grey;
    padding-top: 0 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: rgb(43, 43, 43);
    margin: 0;
}

.deco{
border-left: 7px solid rgb(98, 98, 223);
    border-right: 7px solid rgb(98, 98, 223);
    width: 80%;
    margin: 8rem auto;
}

.deco h3{
    font-size: 1.2rem;
}

.deco span{
    font-size: 2rem;
    margin-bottom: 1em;
}

.deco1, .deco2, .deco3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    margin: 2rem 2rem;
    padding: 4rem 2rem;
    background-color:rgb(98, 98, 223);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.728) 0px 7px 19px 0px;
}

.deco1{
background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(/images/pexels-andrea-piacquadio-914931.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.deco2{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
            url(/images/pexels-artem-beliaikin-1079033.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.deco3 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url(/images/pexels-pixabay-164425.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.deco img{
    width: 50%;
    height: 50%;
}



.buy {
    background-color: rgb(98, 98, 223);
}

@media screen and (max-width: 980px) {
    #content, #upcoming-content {
        width: 45%;
    }
}

@media screen and (max-width: 750px) {
    #content, #upcoming-content {
        width: 100%;
    }
}

 .body2{
background-color: rgb(98, 98, 223);
padding: 10em 0em;
width: 95%;
margin: 5rem auto;
border-radius: 20px;
text-align: left;
}

.about-heading{
    color: black;
    font-weight: bold;
}

.inner-about{
    display: flex;
    align-content: center;
    justify-content: center;
}

.about{
    
    margin-top: 150px;
    /* margin: 50px 30px; */
    padding: 50px 45px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
            url(/images/christies-auction.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
    width: 70%;
    margin: auto;
    border-radius: 20px;
    font-size: 1em;
    box-shadow: rgba(0, 0, 0, 0.874) 0px 7px 19px 0px;
}

.about p{
    text-align: left;
    color: white;
}

.about h2{
    color: white;
}

#why{
    display: flex;
    margin: 6rem auto;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    padding: 2rem; 
    color: black;
    
}

#why h2{
    font-weight: 900;
}

#why p{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    color: black;
}

.why1, .why2{
    padding: 2rem;
}

.why1{
    border-right: 2px solid rgb(98, 98, 223);
    background: url(/images/output-onlinepngtools\ \(1\).png);
        background-size: cover;
        background-repeat: no-repeat;
}

.why2{
    background: url(/images/output-onlinepngtools.png);
        background-size: cover;
        background-repeat: no-repeat;
}

/* footer starts here */
.footer{
    margin-top: 2rem;
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 1rem 10rem;
    text-align: center;
}

.footer h3{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    }

.footer h4{
    font-weight: bold;
        font-size: 15px;
        text-align: center;
        margin: 2rem auto .5rem auto;
}

.footer .half3{
    margin: 0 auto 2rem auto;
}


.footer .half3 p{
    padding: 0rem; 
    font-size: .9em;
}

.footer a{
    text-decoration: underline;
    color: gray;
    display: block;
    padding: .2rem;
}

.footer a:hover{
    color: white;
}

.footer .socials{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: white;
        width: 20%;
        margin: 1rem auto;
}

/* footer ends here  */

@media screen and (max-width: 980px) {


.landing-pic{
        background:url(/images/bg-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
    }
    
.header-text {
    width: 90%;
    margin: 4rem auto;
    border-left: 5px solid rgb(98, 98, 223);
    border-right: 5px solid rgb(98, 98, 223);
}

.header-text h6 {
    margin: 20px auto 0 auto;
    font-size: 1.5em;
    width: 90%;
    border-bottom: 2px solid rgb(98, 98, 223);
}

.header-text p {
    width: 85%;
    font-size: 1em;
}

        #why{
            flex-direction: column;
            width: 100%;
            margin: 1rem auto;
        }

        .why1, .why2{
            padding: 1rem 0;
        }

        #why h2{
            font-size: 1.5rem;
        }

        #why p{
            font-size: 1rem;
        }

        .why1{
            border: none;
        }
    

    .inner-about {
        display: flex;
        flex-direction: column;
    }

    .about {
        width: 90%;
        padding: 50px 15px;
    }

    .footer{
        padding: 1rem;
    }

    .footer .half3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
    }
    .footer .socials {
        margin: 1rem auto;
    }



}



@media screen and (max-width: 1040px) {
        .landing-pic {
                background:
                    url(/images/bg-mobile4.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: 85vh;
                margin: 0;
            }

    .btn-outline-light {
        margin-left: 20rem;
    }

}

@media screen and (max-width: 770px) {

    .landing-pic {
        background:
                url(/images/bg-mobile4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 85vh;
            margin: 0;
        }
    .btn-outline-light {
        margin-left: 10rem;
    }

        .deco1 {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
                url(/images/deco1-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    
        .deco2 {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
                url(/images/deco2-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    
        .deco3 {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
                url(/images/deco3-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .about {
                    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
                        url(/images/about-bg-mobile.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-attachment: fixed;

                }

}

@media screen and (max-width: 440px) {

.landing-pic {
        background:
                url(/images/bg-mobile4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 85vh;
            margin: 0;
        }

    .btn-outline-light {
        margin-left: 0rem;
    }

        .deco {
            border-left: 5px solid rgb(98, 98, 223);
            border-right: 5px solid rgb(98, 98, 223);
            width: 90%;
            margin: 3rem auto;
        }
    
        .deco h3 {
            font-size: 1em;
        }
    
        .deco1,
        .deco2,
        .deco3 {
            flex-direction: column;
            margin: 1rem;
            padding: 1rem;
        }
    
        .deco img {
            width: 100%;
            height: 100%;
        }

}

@media screen and (max-width: 325px) {

    .landing-pic {
        background:
            url(/images/bg-mobile4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 85vh;
        margin: 0;
    }
}