<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="index.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>About Us- Goencom</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
</style>
  </head>
  <body>

    <!-- Navbar starts here -->
    <section>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
            <a href="#" class="navbar-brand mb-0 h1 pr-5">
                GoenCom.
            </a> <i class="fa-solid fa-cutlery"></i>

            <button type="button"    data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            class="navbar-toggler"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="toggle">
            <span class="navbar-toggler-icon"></span>
            </button>

               <button type="button" class="btn btn-outline-light" onclick="signin()">Sign in</button>             
            </ul>
            </div>
         </div>
        </nav>
    </section>
    <!-- Navbar ends here -->

    <section class="body2">
  <section class="about" id="about">
    <h2 class="about-heading">About Us</h2><br>
    <div class="inner-about">
    <img src="./images/—Pngtree—confused red anxious person thinking_6707778.png" alt="">
    <p>Using our online auction management system, bidders will be able to connect to the specific seller who will offer them necessary information or give hand to sell their items to them. This will help save time and offer quality deliverables to the bidders by quick response and attention services. Our system will replace manual way of seeking items in the market and travelling long journeys just to get an item yet there are available items just in the neighbourhood. 
    The scope of this website is to build a user friendly auctioning, where user will be able to bid any product which is available nearby. By using Online Auction management system it will be easy for auctioneer to make an auction and time saving also. By making auction through this website will help to reach maximum of buyers bidding in local area. 
</p>

    </div>

  </section>
</section>

<style>
    .body2{
        margin: 100px auto ;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script>
  function signin()
  {
      location.href = "./signin.html";
  } 
</script>


  </body>
</html>