<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit An Item- GoenCom</title>
    <link rel="stylesheet" href="/css/add-item.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
    </style>
</head>
<body>

        <div class="container-form">
        <form th:action="@{/auction-house/update-item}" method="post" enctype="multipart/form-data">
            <h3>Edit Item</h3>
            <div class="alert alert-primary" th:if="${session.message}"
				th:classappend="${session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
            <input type="hidden" name="itemId" th:value="${item.itemId}">
            <input
            type="name" id="item-name"
            name="name"
            placeholder="Enter item name"
            maxlength="50" required th:value="${item.name}"/> 
          
            <textarea name="description" id="item-desc" cols="70" rows="10" placeholder="Enter item description" th:text="${item.description}" required></textarea>
          	<img id="added-pic" th:src="@{'/images/' + ${item.images[0].url}}">
            <input type="file" id="item-pics" name="image" placeholder="Enter pictures">

            <input type="number" min="0" max="100000000" step="any" name="basePrice" id="base-price" placeholder="Base price (rupees)" th:value="${item.basePrice}"  readonly>
           
            <input type="submit" name="Save Item" value="Save" />
            <a href="/auction-house/manage-items/0"><button type="button" class="btn1">Cancel</button></a>
        </form>
    </div>

</body>
</html>