<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Edit User- GoenCom.</title>
<link rel="stylesheet" href="/css/signup.css">
<script src="https://kit.fontawesome.com/06673b0170.js"
	crossorigin="anonymous"></script>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap')
	;
</style>
</head>
<body>

	<div class="container-form">
		<form th:action="@{/email-otp}" method="post">

			<h3>
				New Email</span>
			</h3>
			<div class="alert alert-primary" th:if="${session.message}"
				th:classappend="${session.message.type}" role="alert">
				<span th:text="${session.message.content}"></span>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			<input type="email" id="password" name="email"
				placeholder="enter email" requried /><!-- <input type="password"
				id="password" name="new-password" placeholder="Enter new Password"
				requried /><input type="password" id="password"
				name="new-password2" placeholder="Enter new Password again" requried /> -->
			<button type="submit" class="btn1">send otp</button>
			<a href="/sign-in"><button type="button" class="btn1">Cancel</button></a>


		</form>
	</div>

</body>
</html>